
/* Smartphones iPhone 4  any small screen*/

@media  (min-width: 0px) and (max-width: 320px)  
{
  tr{
    font-size: 10px !important;
  } 
  .table-width {
    width: 50%;
   
}
.margin-media{
  margin-left: 10px;
}
  
  
  table .btn{
padding: 5px 5px !important;
font-size: 8px;
  }
  .bookmark-width{
    font-size: 18px !important;
  }
  .font-p{
    font-size: 10px;
    }
  

    
}


@media  (min-width: 321px)and (max-width: 480px) 
{
    
  tr{
    font-size: 12px !important;
  } 
  .table-width {
    width: 70%;
   
}
.margin-media{
  margin-left: 10px;
}
  
  table .btn{
padding: 5px 10px !important;
font-size: 8px;
  }

  .bookmark-width{
    font-size: 20px !important;
  }
  
  .font-p{
    font-size: 10px;
    }
   
    
}


@media  (min-width: 481px) and (max-width: 640px)   
    
{
 
 tr{
    font-size: 15px !important;
  } 
 
  .table-width {
    width: 70%;
   
}

.font-p{
  font-size: 12px;
  }

.margin-media{
  margin-left: 10px;
}
  
  table .btn{
padding: 5px 20px !important;
font-size: 10px;
  }
  
}
 

@media  (min-width: 641px) and (max-width: 800px)   
    
{
    

    
    
}


@media  (min-width: 801px) and (max-width: 1024px)  
{

    
}

/* Desktops and laptops  small screne]----------- */
@media  (min-width: 1025px) and (max-width: 1280px) 
{
    
    

    
}
 
/* Desktops and laptops ----------- */

@media  (min-width: 1281px) and (max-width: 1800px) 
       
{
    

    
  
}

@media (min-device-width:1801px)and (max-device-width: 2200px){
    
    

    
}


















